@import 'global_styles.scss';

div.header-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: #282c34;

  > div.title-box{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
  }

  div.user-box{
    padding: 0 3px 0 7px;
  }

  > div.profile-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fff;

    font-size: 1.1rem;

    > div.dropdown-btn {
      padding: 0 5px;
      cursor: pointer;
      user-select: none;
    }

    > div.dropdown-box {
      position: absolute;
      bottom: -50px;
      right: 0;
      width: 100px;
      height: 40px;
      background-color: #eee;
      border-radius: 10px;
      border: 1px solid #222;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      overflow: hidden;

      > div.logout-btn {
        text-align: center;
        padding: 10px 0;
        width: 100%;
        color: #222;
        font-size: 1rem;
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: #bbb;
        }
      }
    }
  }
}